<nav class="navbar navbar-expand-md sticky-top custom-navbar">
  <div class="container">

   
    <a class="navbar-brand fw-bold" href="/" >
      <i class="fa-solid fa-compass"></i> Wanderlust
    </a>


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <div class="navbar-nav align-items-center">

        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/listing">Explore</a>
        <a class="nav-link add-btn" href="/listing/new">Add Listing</a>

      </div>
    </div>

</nav>